
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    text-align: center;
}
.mapa-conceptual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.concepto {
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}
h1 {
    color: #f0f8ff;
    margin: 20px 0;
    font-size: 2.5em;
    
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}
h2 {
    color: #1E90FF;
    margin: 10px 0;
}
p {
    margin: 10px 0;
}
.imagen-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    margin: 0 10px; 
}
.tipos-violencia {
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 80%; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}
.tipos-violencia h2 {
    margin-bottom: 10px;
}
.tipos-violencia-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto; 
}
.tipo {
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}
footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Impact', sans-serif;
    font-size: 1.1em;
    border-top: 5px solid #1E90FF;
}
footer p {
    margin: 0;
    font-style: italic;
    color: #f0f8ff;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.9); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.header h2 {
    margin: 0;
}
.boton-atras {
    background-color: #1E90FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); 
}
.boton-atras:hover {
    background-color: #0f7efc;
}
